@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular.woff') format('woff'),
         url('assets/fonts/Inter-Regular.woff2') format('woff2');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #141414;
    margin: 0 auto;
    padding: 0px;
    max-width: 1170px;
}