<section id="footer">
    <div class="divisao"></div>
    
    <section id="conteudo">
        <div class="social">
            <p>Social Media</p>
            <ul>
                <a href="https://www.github.com/jefker?tab=repositories" target="_blank">Github</a>
                <a href="https://www.behance.net/jefker" target="_blank">Behance</a>
                <a href="https://www.dribbble.com/jefker" target="_blank">Dribbble</a>
                <a href="https://www.linkedin.com/in/jefker" target="_blank">Linkedin</a>
                <a href="https://www.instagram.com/jeftekerison" target="_blank">Instagram</a>
            </ul>
        </div>
    
        <div class="outros">
            <section class="contato">
                <p>Contato</p>
                <a href="/">jeftekerison@gmail.com</a>
            </section>
        
            <section class="copyright">
                <p>Direitos</p>
                <a>© 2024 Jefte Kerison</a>
            </section>
        </div>
    </section>
</section>