<section id="footer">
    <div class="divisao"></div>
    
    <section id="conteudo">
        <section class="social">
            <p>Social Media</p>
            <ul>
                <a href="/" target="_blank">Home</a>
                <a href="/" target="_blank">Sobre</a>
                <a href="/" target="_blank">Design</a>
                <a href="/" target="_blank">Web Develop</a>
            </ul>
        </section>
    
        <section class="contato">
            <p>Contato</p>
            <a href="/">jeftekerison@gmail.com</a>
        </section>
    
        <section class="copyright">
            <p>Diretos</p>
            <a>© 2022 Jefte Kerison</a>
        </section>
    </section>
</section>