<header id="header">
    <div class="container">
        <a id="logo" (click)="rolarParaTopo()"><img src="assets/logo/jfkr_logo_horizontal.png" alt="Jefker"></a>
        <nav id="nav">
            <button id="btn-mobile">
                <span id="hamburger"></span>
            </button>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="https://www.behance.net/jefker" target="_blank">Design</a></li>
                <li><a href="https://www.github.com/jefker?tab=repositories" target="_blank">Web Develop</a></li>
            </ul>
        </nav>
    </div>
</header>