#home {
    padding: 0 1.66667rem;
    font-family: 'Inter ExtraLight', sans-serif;
    color: #6d6d6d;
    
    .introducao {
        transition: .6s;
        font-size: 3.333rem;
        line-height: 3.333rem;
        text-align: left;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #meuNome {
            color: white;
        }
    
        @media (max-width: 350px) {
            font-size: 2.2rem;
            line-height: 2.2rem;
        }

        @media screen and (min-width: 350px) and (max-width: 440px) {
            font-size: 2.6rem;
            line-height: 2.6rem;
        }
    
        @media (min-width: 440px) {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    .job {
        padding-bottom: 50px;

        h2 {
            padding: 12px 0;
            margin: 0;
        }

        p {
            font-family: 'Inter Medium', sans-serif;
            margin: 0;
        }

        #tags {
            p {
                background-color: #ffffff4b;
                color: black;
                display: inline-block;
                padding: 5px 10px;
                margin-right: 10px;
                margin-bottom: 5px;
                border-radius: 50px;
                font-size: 0.8rem;
                line-height: 0.8rem;
                font-family: 'Inter SemiBold', sans-serif;
                cursor: pointer;
                transition: .3s;

                @media (max-width: 680px) {
                    font-size: 0.66rem;
                    line-height: 0.66rem;
                }
            }

            p:last-child {
                margin-right: 0; 
            }

            p:hover {
                background-color: rgb(255, 255, 255);
                transition: .3s;
            }
        }

        
        .galeria {
            display: flex;
            margin: 12px 0;

            img {
                transition: .2s;
            }

            img:hover {
                transition: .4s;
                transform: scale(103%);
                cursor: pointer;
            }

            .imagem-principal {
                flex: 1;
                max-width: 65%;
            }

            #miniatura {
                display: flex;
                flex-direction: column;

                .imagem-miniatura {
                    width: 100%; /* Ajustar largura de acordo com a necessidade */
                    height: 100%; /* Ajustar altura de acordo com a necessidade */
                }
            }

            @media (max-width: 700px) {
                .imagem-principal {
                    max-width: 100%;
                }

                #miniatura {
                    visibility: hidden;
                }
            }
        }

        #descricao {
            display: flex;
            flex-wrap: wrap;

            .informacoes, .legenda {
                flex: 50%;
            }
            
            @media (max-width: 800px) {
                .informacoes, .legenda {
                    flex: 100%;
                }

                .legenda {
                    padding-top: 12px;
                    transition: .6s;
                }
            }
        }

        #botao-ver-mais {
            display: flex;

            button {
                padding: 10px 20px;
                border-radius: 50px;
                transform: translate(0, -5vh);
            }
    
        }

        @media (max-width: 800px) {
            #botao-ver-mais {
                justify-content: end;

                button {
                    margin-top: 3%;
                    transform: translate(0, 0);
                }
            }

        }
        
    }

}

