<section id="home">
    <div class="introducao">
        <span id="meuNome">Olá, eu sou Jefte. </span>
        <span #texto id="texto"></span>
    </div>

    <section class="job">
        <h2>MapMatix - Software Automation</h2>
        <section class="tags">
            <p>Graphic Designer</p>
            <p>Visual Identity</p>
            <p>Logo</p>
            <p>Branding</p>
        </section>

        <div class="galeria">
            <div class="principal">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/30f772180638049.650dd28ad05a5.png">
            </div>
            <div class="miniatura">
                <div class="imagem-miniatura">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/6c761e180638049.65f841dfe9f3c.png">
                </div>
                <div class="imagem-miniatura" style="justify-content: flex-start;">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/4b14b2180638049.650ddad8745b1.gif">
                </div>
            </div>
        </div>

        <section class="descricao">
            <div class="informacoes">
                <section>
                    <p>PERÍODO → 2023 – 2024</p>
                    <p>FUNÇÃO → DIRETOR DE ARTE</p>
                    <p>RAMO → EMPRESA DE AUTOMAÇÕES</p>
                </section>

                <section class="botaoDesktop">
                    <a href="https://www.behance.net/gallery/180638049/MapMatix-Identidade-Visual" target="_blank">
                        <button>VER MAIS</button>
                    </a>
                </section>
            </div>

            <div class="legenda">
                <small>pt-Br</small>
                <p>
                    Mapmatix é uma empresa americana de tecnologia especializada em integração, automação e desenvolvimento de software. Sua
                    abordagem adaptável às mudanças nas condições do mercado confere uma vantagem competitiva aos clientes, auxiliando-os em
                    sua jornada de transformação e impulsionando-os para o sucesso.
                </p>
                
                <br>

                <small>en-Us</small>
                <p>
                    Mapmatix is a american technology company specializing in integration, automation, and software development. Its
                    adaptable approach to market changes provides clients with a competitive advantage, assisting them in their
                    transformation journey and propelling them towards success.
                </p>                
            </div>
        </section>

        <section class="botaoMobile">
            <a href="https://www.behance.net/gallery/180638049/MapMatix-Identidade-Visual" target="_blank">
                <button>VER MAIS</button>
            </a>
        </section>
    </section>

    <section class="job">
        <h2>Indra - Gerenciamento de Planilha</h2>
        <section class="tags">
            <p>Software Developer</p>
            <p>Angular</p>
            <p>Typescript</p>
            <p>User Interface</p>
        </section>

        <div class="galeria">
            <div class="principal">
                <img src="assets/img/telasIndraPlanilha.png">
            </div>
            <div class="miniatura">
                <div class="imagem-miniatura">
                    <img src="assets/img/1667954698071.gif">
                </div>
                <div class="imagem-miniatura">
                    <img src="assets/img/figmaIndraPlanilha.jpeg">
                </div>
            </div>
        </div>

        <section class="descricao">
            <div class="informacoes">
                <section>
                    <p>PERÍODO → 2022 – 2023</p>
                    <p>FUNÇÃO → DESENVOLVEDOR, UI DESIGNER</p>
                    <p>APLICAÇÃO WEB → ADMNISTRAÇÃO DE ATIVIDADES</p>
                </section>

                <section class="botaoDesktop">
                    <a href="https://github.com/jefker/Indra_Gerenciamento_Planilha?tab=readme-ov-file" target="_blank">
                        <button>VER MAIS</button>
                    </a>
                </section>
            </div>

            <div class="legenda">
                <small>pt-Br</small>
                <p>
                    Aplicação Web desenvolvida com o objetivo de otimizar a planilha de registros de atividades realizadas para o Banco do
                    Brasil pelos funcionários da empresa Indra.
                </p>
                
                <br>

                <small>en-Us</small>
                <p>
                    Web Application developed with the aim of optimizing the spreadsheet for recording works provided to Banco do
                    Brasil by employees of the Indra company.
                </p>    
            </div>
        </section>

        <section class="botaoMobile">
            <a href="https://github.com/jefker/Indra_Gerenciamento_Planilha?tab=readme-ov-file" target="_blank">
                <button>VER MAIS</button>
            </a>
        </section>
    </section>
</section>