<section id="home">
    <div class="introducao">
        <span id="meuNome">Olá, eu sou Jefte. </span>
        <span #texto id="texto"></span>
    </div>
    <div class="job" loading="lazy">
        <h2>Título de algum freela relevante</h2>
        <section id="tags">
            <p>Engenheiro de Software</p>
            <p>Desenvolvedor</p>
            <p>UX/UI</p>
            <p>FrontEnd</p>
            <p>Angular</p>
            <p>Typescript</p>
        </section>

        <img src="assets/img/imagem.jpg">

        <section id="descricao">
            <div class="informacoes">
                <p>DATA →  2020 – 2024</p>
                <p>FUNÇÃO →  DIRETOR DE ARTE</p>
                <p>APP →  DOWNLOAD</p>
                <p>DEMO →  GO TO WEBSITE</p>
            </div>

            <div class="legenda">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </section>
    </div>
</section>